ion-content{
    --background: #2b464f !important;
  }

  ion-col{
    color: white;
   
  }
  
  ion-card-header {
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    padding: 5px;
  }
  