<ion-header [translucent]="true">
  <ion-toolbar color='warning'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: large;">Premium Discount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  
    <ion-grid style="margin-left: 5px;margin-right: 5px;margin-top: 10px;">
      <ion-row>
        <ion-col>Policy No:</ion-col>
        <ion-col style="color:#758AA2;">ITWEP1019</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Policy type:</ion-col>
        <ion-col style="color:#758AA2;">UBI Policy</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Premium Amount:</ion-col>
        <ion-col style="color:#758AA2;">Rs 30,000</ion-col>
      </ion-row>
    

    

      <ion-card-header>Driving Score Details</ion-card-header>
        <ion-row style="margin-top: 15px;">
          <ion-col>Year</ion-col>
          <ion-col>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premium</ion-col>
          <ion-col> &nbsp;Discount</ion-col>
          <ion-col>&nbsp;&nbsp;%</ion-col>
          <ion-col>Avg.score</ion-col>
        </ion-row>
        <ion-row >
          <ion-col style="color:#758AA2;margin-top: 15px;">2018</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">Rs.26,000</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">Rs.3,500</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">12%</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">67</ion-col>
        </ion-row>
        <ion-row >
          <ion-col style="color:#758AA2;margin-top: 15px;">2019</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">Rs.27,000</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">Rs.2,800</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">10%</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">62</ion-col>
        </ion-row>
        <ion-row >
          <ion-col style="color:#758AA2;margin-top: 15px;">2020</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;">Rs.30,000</ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;"></ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;"></ion-col>
          <ion-col style="color:#758AA2;margin-top: 15px;"></ion-col>
        </ion-row>
        
        
        
      </ion-grid>


</ion-content>
