.small-text {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.usbimg{

}

.small-textn {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

ion-title {
    color: white;
}

ion-content{
    --background: #2b464f !important;
 }
 