ion-item{
  --background: #2b464f !important;
   color: white;
}

ion-content{
  --background: #2b464f !important;
}

ion-label{
  --background: #2b464f !important;
}

#space{
  height: 10px;
  --background: #2b464f !important;
}

ion-button{
   font-size: medium;
}


.colborder {
  border: 1px solid #ffffff;
}

