.show {
  display: block !important;
}

ion-segment {
  margin-top: 6px;
  // background-color: #2b464f;
  // color: white;
}

ion-content{
  --background: #2b464f !important;
}

ion-list{
  // --background: #2b464f !important;
  background-color: #2b464f !important;
}
